<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<div>
<mat-drawer [opened]="sideBarOpen">
  <app-sidebar
    id="sidebar"
    (searchInput)="fromOrTo($event)"
    (locationSelected)="addItem($event)"
    (modeSelected) = "mode($event)"
    [mapPoint]="items"
    [route]="route"
  ></app-sidebar>
</mat-drawer>
</div>
<app-dashboard
  [selected]="selectResult"
  [fromOrTo]="fromTo"
  [mode] = "type"
  (newPoint)="addPoint($event)"
  (newRoute)="newRoute($event)"
>
</app-dashboard>
